Repository coffeemakingtoaster/water-bottler, pull requests merged in 2025-01, with the labels that each got.

#50 feat(docs): enhance cluster deployment documentation with detailed st…
  docs/cluster-deployment.md
  docs/images/k9s_HealthyCluster.png
Labels: documentation

#57 refactor(notification service): remove funky request logic
  notification-service/mail.tmpl
  notification-service/main.go
  notification-service/main_test.go
Labels: Notification Service

#54 feat(recognition): add wider replacement image of glass to better fit…
  object-recognition-service/app/image_processing.py
  object-recognition-service/app/main.py
  object-recognition-service/app/water_bottle_original.png
  object-recognition-service/app/water_glass.png
  object-recognition-service/tests/test_image_processing.py
Labels: object recognition service

#59 fix(download-service): fix extension missing
  download-service/main.go
Labels: Download service
